<h2>Dashboard</h2>
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#late-chages">Cobranças em atraso</a></li>
      <li class="tab col s3"><a href="#late-securities">Titulos em atraso</a></li>
      <li class="tab col s3"><a href="#customers-without-charges">Clientes sem titulo</a></li>
      <li class="tab col s3"><a href="#latest-instalations">Ultimas instalações</a></li>
      <li class="tab col s3"><a href="#inactive-customers">Clientes inativos</a></li>
      <li class="tab col s3"><a href="#canceled-customers">Clientes cancelados</a></li>
    </ul>
  </div>
  <div id="late-chages" class="col s12"><app-late-charges></app-late-charges></div>
  <div id="late-securities" class="col s12">late-securities</div>
  <div id="customers-without-charges" class="col s12">customers-without</div>
  <div id="latest-instalations" class="col s12">latest-instalations</div>
  <div id="inactive-customers" class="col s12">inactive-customers</div>
  <div id="canceled-customers" class="col s12">canceled-customers</div>
</div>
