.App {
    text-align: center;
}

.App-layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.App-offline {
    background-color: #6b6b6b;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    color: #1E88E5;
}

button {
    min-width: 100px;
    height: 40px;
    font-size: 14px;
    border: 0;
    background: #4F8EFA;
    color: #fff;
    border-radius: 2px;
    margin: 0 auto -5px;
    display: inline-block;
    cursor: pointer;
    outline: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.38);
    -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.38);
    -webkit-user-select: none;
}

button:active {
    box-shadow: none;
}

button:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
}
